.page-background {
  background: rgb(204,204,204); 
}

body {
  margin: 0;
  padding: 0;
}

.page-preview {
    background: white;
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.page-back .card:nth-of-type(4n+1) {
  margin-left:-5px;
}

@media print {
  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color: white;
  }
  .page-background {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray;
  }
}
.card h2 {
  /* Revert bootstrap style for the card preview */    
  display: block;
  font-size: 1.5em;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}
